<form action="/customer/create" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="state" name="state">
    <input type="submit" value="Create Customer">
</form>